@using System.Runtime.InteropServices.ComTypes
@model IEnumerable<AccountingProgrammers.Models.Project>
@{
    ViewBag.Title = "Все проекты";
}
<div class="table table-hover ">
    <div class="table table-bordered">
        <div class="table-responsive">
            <h1 class="display-1">Accounting for project programmers.</h1>
            <div class="list-group">
                
                <a class="list-group-item list-group-item-action" asp-action="ProjectList">Projects</a> <br />
                <a class="list-group-item list-group-item-action" asp-action="DeveloperList">Developers </a> <br />
                <a class="list-group-item list-group-item-action" asp-action="ProjectDeveloperList">Developers to Projects </a> <br />

            </div>
        </div>
    </div>
</div>




