@model IEnumerable<AccountingProgrammers.Models.Project>

@{
    ViewData["Title"] = "ProjectList";
}

<h2>ProjectList</h2>

<p>
    <a asp-action="CreateProject">CreateProject</a>
</p>

<div class="table table-hover ">
        <div class="table table-bordered">
           @Html.Partial("_ProjectList", Model)
          </div>
</div>